@font-face {
    font-family: myFirstFont;
    src: url("./fonts/Quicksand-VariableFont_wght.ttf");
}    

html,
body {
    margin: 0 auto;
    font-family: myFirstFont;
    background-color: #dac1a5;
}

.topMenu {
    background-color: #CDE7B0;
    height: 75px;
    border: 1px solid rgb(223, 210, 210);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 5%;
    box-sizing: border-box;
    margin: 5px;
}
.topMenu ul{
    display: flex;
    font-size: 0.75em;
}
.topMenu ul li{
    display: flex;
    justify-content: space-around;
    width: 50px;
}
.navLogo{
    width: 50%
}
.s1 {
    padding: 2% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%
}
.face {
    width: 40%;
    height: 100%;
    border: 1px solid black;
    border-radius: 100%
}
.project{
    background-color: #CDE7B0;
    padding: 2% 5%;
    border: 1px solid transparent;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.s2 h1{
    padding: 1%;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
}
.projectImg {
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-left: 25%;
}
.p1Link {
    width: 4%;
    margin-left: 1%;
}
.bottom {
    margin-top: 5%;
background: #CDE7B0;
color: white;
clip-path: polygon(0 95%, 100% 0, 0 100%, 0 50%);
padding: 10rem 20%;
border-radius: 3px
}